In [2]:
import sys
import numpy as np,pandas as pd
import os
# OS is the best way to manipulate dirs and environment variables and even the time stamp when the last time it was modified and even the extension of the file from the given path
print(os.listdir())

['.idea', 'Flights.png', 'ML_1_pandas.ipynb', 'ML_2_Matplotlib_Seaborn_Plotly.ipynb']

In [3]:
a=np.array([1,2,3])
b=np.array([1,3,5])
print(a.dtype)
print(a.ndim)
print(a*b)
np.ones((5,))
# numpy arrays are much faster as it fixes the data type

int32
1
[ 1  6 15]

array([1., 1., 1., 1., 1.])

CHECK FROM GOOGLE COLLAB

In [4]:
movies = pd.read_csv('http://bit.ly/imdbratings')
print(type(movies))

<class 'pandas.core.frame.DataFrame'>

In [5]:
print(movies.describe())
print(type(movies.describe()))
print(movies.describe(include=['object']))

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000
<class 'pandas.core.frame.DataFrame'>
          title content_rating  genre  \
count       979            976    979
unique      975             12     16
top     Dracula              R  Drama
freq          2            460    278

                                              actors_list
count                                                 979
unique                                                969
top     [u'Daniel Radcliffe', u'Emma Watson', u'Rupert...
freq                                                    6

In [6]:
ufo=pd.read_csv('http://bit.ly/uforeports')
print(ufo.columns)
ufo.rename(columns={'Colors Reported':'Colors_Reported'},inplace=True) # inplace as the name suggests changes the key column name to value column name and store in same data frame

# if want to rename all
ufo_cols=['a','b','c','d','e']
ufo.columns=ufo_cols
print(ufo.columns)


# if we want all column headings to have _ instead of space then
ufo=pd.read_csv('http://bit.ly/uforeports')
ufo.columns=ufo.columns.str.replace(' ','_')
print(ufo.columns)

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [7]:
# How to Remove column from a DataFrame

ufo=pd.read_csv('http://bit.ly/uforeports')

# axis=0 row , axis=1 column
ufo.drop(['Colors Reported','City'],axis=1,inplace=True)
print(ufo.head())

# How to remove row
ufo.drop([0,1],axis=0,inplace=True)
print(ufo.head())

  Shape Reported State             Time
0       TRIANGLE    NY   6/1/1930 22:00
1          OTHER    NJ  6/30/1930 20:00
2           OVAL    CO  2/15/1931 14:00
3           DISK    KS   6/1/1931 13:00
4          LIGHT    NY  4/18/1933 19:00
  Shape Reported State             Time
2           OVAL    CO  2/15/1931 14:00
3           DISK    KS   6/1/1931 13:00
4          LIGHT    NY  4/18/1933 19:00
5           DISK    ND  9/15/1934 15:30
6         CIRCLE    CA   6/15/1935 0:00

In [8]:
# How can we sort a pandas data frame or series
movies=pd.read_csv('http://bit.ly/imdbratings')

# Sorting a series not inplace - adding inplace=True changes movies but without it , it will not
print(movies.title.sort_values())
print(movies.title.sort_values(ascending=False)) # for descending

# Sorting a data frame on the basis of a series (inplace not used)
print(movies.sort_values('title')) # we can use ascending=False for reverse
print(movies.sort_values(['title','duration'])) # left to right preference on sorting
# old ways
# .sort('title') , .title.order() for series

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
               ...
955         Zero Dark Thirty
677                   Zodiac
615               Zombieland
526                     Zulu
864                    [Rec]
Name: title, Length: 979, dtype: object
864                    [Rec]
526                     Zulu
615               Zombieland
677                   Zodiac
955         Zero Dark Thirty
               ...
110    2001: A Space Odyssey
698                127 Hours
201         12 Years a Slave
5               12 Angry Men
542     (500) Days of Summer
Name: title, Length: 979, dtype: object
     star_rating                  title content_rating      genre  duration  \
542          7.8   (500) Days of Summer          PG-13     Comedy        95
5            8.9           12 Angry Men      NOT RATED      Drama        96
201          8.1       12 Years a Slave              R  Biography       134
698          7.6              127 Hours              R  Adventure        94
110          8.3  2001: A Space Odyssey              G    Mystery       160
..           ...                    ...            ...        ...       ...
955          7.4       Zero Dark Thirty              R      Drama       157
677          7.7                 Zodiac              R      Crime       157
615          7.7             Zombieland              R     Comedy        88
526          7.8                   Zulu        UNRATED      Drama       138
864          7.5                  [Rec]              R     Horror        78

                                           actors_list
542  [u'Zooey Deschanel', u'Joseph Gordon-Levitt', ...
5    [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
201  [u'Chiwetel Ejiofor', u'Michael Kenneth Willia...
698  [u'James Franco', u'Amber Tamblyn', u'Kate Mara']
110  [u'Keir Dullea', u'Gary Lockwood', u'William S...
..                                                 ...
955  [u'Jessica Chastain', u'Joel Edgerton', u'Chri...
677  [u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M...
615  [u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha...
526  [u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac...
864  [u'Manuela Velasco', u'Ferran Terraza', u'Jorg...

[979 rows x 6 columns]
     star_rating                  title content_rating      genre  duration  \
542          7.8   (500) Days of Summer          PG-13     Comedy        95
5            8.9           12 Angry Men      NOT RATED      Drama        96
201          8.1       12 Years a Slave              R  Biography       134
698          7.6              127 Hours              R  Adventure        94
110          8.3  2001: A Space Odyssey              G    Mystery       160
..           ...                    ...            ...        ...       ...
955          7.4       Zero Dark Thirty              R      Drama       157
677          7.7                 Zodiac              R      Crime       157
615          7.7             Zombieland              R     Comedy        88
526          7.8                   Zulu        UNRATED      Drama       138
864          7.5                  [Rec]              R     Horror        78

                                           actors_list
542  [u'Zooey Deschanel', u'Joseph Gordon-Levitt', ...
5    [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
201  [u'Chiwetel Ejiofor', u'Michael Kenneth Willia...
698  [u'James Franco', u'Amber Tamblyn', u'Kate Mara']
110  [u'Keir Dullea', u'Gary Lockwood', u'William S...
..                                                 ...
955  [u'Jessica Chastain', u'Joel Edgerton', u'Chri...
677  [u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M...
615  [u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha...
526  [u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac...
864  [u'Manuela Velasco', u'Ferran Terraza', u'Jorg...

[979 rows x 6 columns]

In [9]:
# How do we filter rows of a pandas data frame by column value
movies=pd.read_csv('http://bit.ly/imdbratings')

# say all movies with duration >= 200
# M-1
booleans=[]
for l in movies.duration:
  if l >=200:
    booleans.append(True)
  else:
    booleans.append(False)

booleans=pd.Series(booleans) # a pd series consisting of whether or not to take the row
print(movies[booleans]) # when such a bool series is passed through the data frame it accordingly removes the false rows

# M-2
booleans=movies.duration >= 200
print(movies[booleans])

#M-3
print(movies[movies.duration >= 200])

# If we want only genre from above

print(movies[movies.duration >= 200].genre)
# But above method may cause problem
# we use loc i.e. movies.loc[row needed,col needed]
print(movies.loc[movies.duration >= 200,'genre'])

     star_rating                                          title  \
2            9.1                         The Godfather: Part II
7            8.9  The Lord of the Rings: The Return of the King
17           8.7                                  Seven Samurai
78           8.4                    Once Upon a Time in America
85           8.4                             Lawrence of Arabia
142          8.3              Lagaan: Once Upon a Time in India
157          8.2                             Gone with the Wind
204          8.1                                        Ben-Hur
445          7.9                           The Ten Commandments
476          7.8                                         Hamlet
630          7.7                                      Malcolm X
767          7.6                It's a Mad, Mad, Mad, Mad World

    content_rating      genre  duration  \
2                R      Crime       200
7            PG-13  Adventure       201
17         UNRATED      Drama       207
78               R      Crime       229
85              PG  Adventure       216
142             PG  Adventure       224
157              G      Drama       238
204              G  Adventure       212
445       APPROVED  Adventure       220
476          PG-13      Drama       242
630          PG-13  Biography       202
767       APPROVED     Action       205

                                           actors_list
2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17   [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78   [u'Robert De Niro', u'James Woods', u'Elizabet...
85   [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630  [u'Denzel Washington', u'Angela Bassett', u'De...
767  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...
     star_rating                                          title  \
2            9.1                         The Godfather: Part II
7            8.9  The Lord of the Rings: The Return of the King
17           8.7                                  Seven Samurai
78           8.4                    Once Upon a Time in America
85           8.4                             Lawrence of Arabia
142          8.3              Lagaan: Once Upon a Time in India
157          8.2                             Gone with the Wind
204          8.1                                        Ben-Hur
445          7.9                           The Ten Commandments
476          7.8                                         Hamlet
630          7.7                                      Malcolm X
767          7.6                It's a Mad, Mad, Mad, Mad World

    content_rating      genre  duration  \
2                R      Crime       200
7            PG-13  Adventure       201
17         UNRATED      Drama       207
78               R      Crime       229
85              PG  Adventure       216
142             PG  Adventure       224
157              G      Drama       238
204              G  Adventure       212
445       APPROVED  Adventure       220
476          PG-13      Drama       242
630          PG-13  Biography       202
767       APPROVED     Action       205

                                           actors_list
2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17   [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78   [u'Robert De Niro', u'James Woods', u'Elizabet...
85   [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630  [u'Denzel Washington', u'Angela Bassett', u'De...
767  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...
     star_rating                                          title  \
2            9.1                         The Godfather: Part II
7            8.9  The Lord of the Rings: The Return of the King
17           8.7                                  Seven Samurai
78           8.4                    Once Upon a Time in America
85           8.4                             Lawrence of Arabia
142          8.3              Lagaan: Once Upon a Time in India
157          8.2                             Gone with the Wind
204          8.1                                        Ben-Hur
445          7.9                           The Ten Commandments
476          7.8                                         Hamlet
630          7.7                                      Malcolm X
767          7.6                It's a Mad, Mad, Mad, Mad World

    content_rating      genre  duration  \
2                R      Crime       200
7            PG-13  Adventure       201
17         UNRATED      Drama       207
78               R      Crime       229
85              PG  Adventure       216
142             PG  Adventure       224
157              G      Drama       238
204              G  Adventure       212
445       APPROVED  Adventure       220
476          PG-13      Drama       242
630          PG-13  Biography       202
767       APPROVED     Action       205

                                           actors_list
2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17   [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78   [u'Robert De Niro', u'James Woods', u'Elizabet...
85   [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630  [u'Denzel Washington', u'Angela Bassett', u'De...
767  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...
2          Crime
7      Adventure
17         Drama
78         Crime
85     Adventure
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object
2          Crime
7      Adventure
17         Drama
78         Crime
85     Adventure
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object

In [10]:
# Applying multiple criteria
movies=pd.read_csv('http://bit.ly/imdbratings')

# duration >= 200 and genre = 'Drama
print(movies[(movies.duration >= 200) & (movies.genre == 'Drama')])

# if multiple genre there or not then as the below method is much safer
print(movies[movies.genre.isin(['Crime','Drama','Action'])])

     star_rating               title content_rating  genre  duration  \
17           8.7       Seven Samurai        UNRATED  Drama       207
157          8.2  Gone with the Wind              G  Drama       238
476          7.8              Hamlet          PG-13  Drama       242

                                           actors_list
17   [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
157  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
476  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
     star_rating                                            title  \
0            9.3                         The Shawshank Redemption
1            9.2                                    The Godfather
2            9.1                           The Godfather: Part II
3            9.0                                  The Dark Knight
4            8.9                                     Pulp Fiction
..           ...                                              ...
970          7.4                                      Wonder Boys
972          7.4                                   Blue Valentine
973          7.4                            The Cider House Rules
976          7.4  Master and Commander: The Far Side of the World
978          7.4                                      Wall Street

    content_rating   genre  duration  \
0                R   Crime       142
1                R   Crime       175
2                R   Crime       200
3            PG-13  Action       152
4                R   Crime       154
..             ...     ...       ...
970              R   Drama       107
972          NC-17   Drama       112
973          PG-13   Drama       126
976          PG-13  Action       138
978              R   Crime       126

                                           actors_list
0    [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1      [u'Marlon Brando', u'Al Pacino', u'James Caan']
2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3    [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4    [u'John Travolta', u'Uma Thurman', u'Samuel L....
..                                                 ...
970  [u'Michael Douglas', u'Tobey Maguire', u'Franc...
972  [u'Ryan Gosling', u'Michelle Williams', u'John...
973  [u'Tobey Maguire', u'Charlize Theron', u'Micha...
976  [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
978  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...

[538 rows x 6 columns]

In [11]:
# How do we use axis parameters
drinks = pd.read_csv("http://bit.ly/drinksbycountry")

# axis=0 or 'index' --> row and axis=1 or 'columns' --> column
print(drinks.mean(axis=0))  # Now here axis = 0 means for each column go in row direction for calculating mean
print(drinks.mean(axis=1)) # Here axis=1 means in each row go in column wise direction for calculating mean of numerical values

TypeError: Could not convert ["AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua & BarbudaArgentinaArmeniaAustraliaAustriaAzerbaijanBahamasBahrainBangladeshBarbadosBelarusBelgiumBelizeBeninBhutanBoliviaBosnia-HerzegovinaBotswanaBrazilBruneiBulgariaBurkina FasoBurundiCote d'IvoireCabo VerdeCambodiaCameroonCanadaCentral African RepublicChadChileChinaColombiaComorosCongoCook IslandsCosta RicaCroatiaCubaCyprusCzech RepublicNorth KoreaDR CongoDenmarkDjiboutiDominicaDominican RepublicEcuadorEgyptEl SalvadorEquatorial GuineaEritreaEstoniaEthiopiaFijiFinlandFranceGabonGambiaGeorgiaGermanyGhanaGreeceGrenadaGuatemalaGuineaGuinea-BissauGuyanaHaitiHondurasHungaryIcelandIndiaIndonesiaIranIraqIrelandIsraelItalyJamaicaJapanJordanKazakhstanKenyaKiribatiKuwaitKyrgyzstanLaosLatviaLebanonLesothoLiberiaLibyaLithuaniaLuxembourgMadagascarMalawiMalaysiaMaldivesMaliMaltaMarshall IslandsMauritaniaMauritiusMexicoMicronesiaMonacoMongoliaMontenegroMoroccoMozambiqueMyanmarNamibiaNauruNepalNetherlandsNew ZealandNicaraguaNigerNigeriaNiueNorwayOmanPakistanPalauPanamaPapua New GuineaParaguayPeruPhilippinesPolandPortugalQatarSouth KoreaMoldovaRomaniaRussian FederationRwandaSt. Kitts & NevisSt. LuciaSt. Vincent & the GrenadinesSamoaSan MarinoSao Tome & PrincipeSaudi ArabiaSenegalSerbiaSeychellesSierra LeoneSingaporeSlovakiaSloveniaSolomon IslandsSomaliaSouth AfricaSpainSri LankaSudanSurinameSwazilandSwedenSwitzerlandSyriaTajikistanThailandMacedoniaTimor-LesteTogoTongaTrinidad & TobagoTunisiaTurkeyTurkmenistanTuvaluUgandaUkraineUnited Arab EmiratesUnited KingdomTanzaniaUSAUruguayUzbekistanVanuatuVenezuelaVietnamYemenZambiaZimbabwe"
 'AsiaEuropeAfricaEuropeAfricaNorth AmericaSouth AmericaEuropeOceaniaEuropeEuropeNorth AmericaAsiaAsiaNorth AmericaEuropeEuropeNorth AmericaAfricaAsiaSouth AmericaEuropeAfricaSouth AmericaAsiaEuropeAfricaAfricaAfricaAfricaAsiaAfricaNorth AmericaAfricaAfricaSouth AmericaAsiaSouth AmericaAfricaAfricaOceaniaNorth AmericaEuropeNorth AmericaEuropeEuropeAsiaAfricaEuropeAfricaNorth AmericaNorth AmericaSouth AmericaAfricaNorth AmericaAfricaAfricaEuropeAfricaOceaniaEuropeEuropeAfricaAfricaEuropeEuropeAfricaEuropeNorth AmericaNorth AmericaAfricaAfricaSouth AmericaNorth AmericaNorth AmericaEuropeEuropeAsiaAsiaAsiaAsiaEuropeAsiaEuropeNorth AmericaAsiaAsiaAsiaAfricaOceaniaAsiaAsiaAsiaEuropeAsiaAfricaAfricaAfricaEuropeEuropeAfricaAfricaAsiaAsiaAfricaEuropeOceaniaAfricaAfricaNorth AmericaOceaniaEuropeAsiaEuropeAfricaAfricaAsiaAfricaOceaniaAsiaEuropeOceaniaNorth AmericaAfricaAfricaOceaniaEuropeAsiaAsiaOceaniaNorth AmericaOceaniaSouth AmericaSouth AmericaAsiaEuropeEuropeAsiaAsiaEuropeEuropeAsiaAfricaNorth AmericaNorth AmericaNorth AmericaOceaniaEuropeAfricaAsiaAfricaEuropeAfricaAfricaAsiaEuropeEuropeOceaniaAfricaAfricaEuropeAsiaAfricaSouth AmericaAfricaEuropeEuropeAsiaAsiaAsiaEuropeAsiaAfricaOceaniaNorth AmericaAfricaAsiaAsiaOceaniaAfricaEuropeAsiaEuropeAfricaNorth AmericaSouth AmericaAsiaOceaniaSouth AmericaAsiaAsiaAfricaAfrica'] to numeric

In [ ]:
# How do I use string methods in pandas
orders = pd.read_table('http://bit.ly/chiporders')

# to use any string operations in series then that series.str.operation it is important.
print(orders.item_name.str.upper())
print(orders[orders.item_name.str.contains('Chicken')])

# for more methods https://pandas.pydata.org/pandas-docs/stable/reference/index.html

# we can put these methods in series
print(orders.choice_description.str.replace('[','').str.replace(']',''))

# can also be written as follows
print(orders.choice_description.str.replace('[\[\]]',''))

In [ ]:
# how do I change the dta type of a panda series
drinks=pd.read_csv('http://bit.ly/drinksbycountry')
print(drinks.dtypes)
# want to convert beer servings column from integer to float
drinks['beer_servings']=drinks.beer_servings.astype(float)

print(drinks.dtypes)

# Can also do it during the reading the process as follows:
drinks=pd.read_csv('http://bit.ly/drinksbycountry',dtype={'beer_servings':float})
print(drinks.dtypes)


# other example
orders=pd.read_table("http://bit.ly/chiporders")
# item_price here is a string with a dollar sign and the price and we want it to be numbers
print(orders.item_price.str.replace('$','').astype(float).mean())

# say we only wanted the rows that contained chicken but now the true and false in terms of 0 or 1
print(orders.item_name.str.contains('Chicken').astype(int).head())

In [ ]:
# When and how to use groupby

drinks=pd.read_csv('http://bit.ly/drinksbycountry')
# if we want avg beer servings grouped by continents
print(drinks.groupby('continent').beer_servings.agg(['count','min','max','mean']))

# if we want just for say asia we can also do
print(drinks[drinks.continent == 'Asia'].beer_servings.mean())

# Therefore if we can say that the question can be reframed in terms of 'for each' then we can use it
# we can directly use mean without column and it just acts like a data frame with continents as its labels
print(drinks.groupby('continent').mean())

# plotting
drinks.groupby('continent').mean().plot(kind='bar')

In [ ]:
# Some useful methods
movies=pd.read_csv("http://bit.ly/imdbratings")

print(movies.genre.value_counts())
print(movies.genre.value_counts(normalize=True)) # provides percentage

print(pd.crosstab(movies.genre,movies.content_rating)) # provides a table that actually provides the tally of how many of the movies of a particular genre and a particular content rating
print(movies.duration.plot(kind='hist'))
#print(movies .genre.value_counts().plot(kind='bar'))

In [ ]:
# How to handle missing data in pandas

ufo = pd.read_csv("http://bit.ly/uforeports")

# any NaN value is implying that the value is missing there

print(ufo.isnull().tail()) # where ever true means a NaN detected
# using notnull() will give inverse value
print(ufo.isnull().sum()) # provides number of missing values in each of the columns
# above can be undeerstood as True as 1 and false as 0
# and thus sum just sums all the trues to give us the value
print(ufo[ufo.City.isnull()]) # can filter out the missing rows here

# droping missing values
print(ufo.dropna(how='any').shape) # drop the row if any of the value is missing
print(ufo.dropna(how='all').shape) # drop the row if all of the value is missing
print(ufo.dropna(subset=['City','Shape Reported'],how='any').shape) # drop the row if any of the subset of the value is missing
print(ufo.dropna(subset=['City','Shape Reported'],how='all').shape) # drop the row if all of the subset of the value is missing

# filling missing values
ufo['Shape Reported'].fillna(value='VARIOUS',inplace=True)

# checking the value count for NaN values as well
print(ufo['Shape Reported'].value_counts(dropna=False))

In [ ]:
# Pandas Indexing
drinks=pd.read_csv('http://bit.ly/drinksbycountry')

print(drinks.index) # represents the row labels
print(drinks.columns)

# index helps us in unique identification of each row
# index can be used to select a row or a value using loc

# But still question remains why index?
# Index is used specifically as it cant be changed to some other column
drinks.set_index('country',inplace=True)
print(drinks.head())

# index name can be removed by
drinks.index.name=None
print(drinks.head())

# to reset the changes
drinks.index.name='country'
drinks.reset_index(inplace=True)
print(drinks.head())

# using cols and indices we can use it to pull out important info
print(drinks.describe().loc['25%','beer_servings'])

# Lets observe how do a series of a dataframe obtains its indices
drinks.set_index('country',inplace=True)
print(drinks.continent.head()) # We observe that the default 0,1,... was changed to the index of the dataframe

# Thus in many of the used cases what we actually got were panda series which could be used to do many further operations
print(drinks.continent.value_counts().sort_index()) # used to sort a series by index

# Alignment
people=pd.Series([3000000,85000],index=['Albania','Andorra'],name='population')
print(drinks.beer_servings * people) # we clearly see that the multiplication leads to multiplication of values only when the index is same

# we can also concat the people column to the drinks dataframe
pd.concat([drinks,people],axis=1).head()